@charset "UTF-8";

header, footer {
  background-color: #f3e5ab  /*цвет шапки и подвала*/
}

body {
  width: 100%;
  height: 100%;
  background-color: #f3e5ab; /*цвет*/
  font-size: 1em; /*определяет размер шрифта*/
  font-family: "Segoe UI" sans-serif; /*шрифты*/
}

hr {
  width: 500px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #423189;
  text-decoration: none;
  font-weight: bold;

}

 a:hover {
  color:#E84545
}

.palka {
  color: #0075B2;
  text-decoration:  underline;
}

body {
    font: 14.34px Helvetica, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    }
